.header {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 15%;
    font-weight: 620;
    font-size: 18px;
    background-color: rgb(238,238,238);
    color: rgb(74,74,74);
}